.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 100px;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5%;
}

.dropdown-content div {
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

body {
    font-family: "Exo 2", sans-serif;
    background-color: #e7e2fb;
}

::placeholder {
    font-family: "Exo 2", sans-serif;
}

.heading {
    margin: auto;
    margin-top: 1%;
    text-align: center;
    color: #6741d9;
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
}

.container-heading {
    margin-bottom: 8%;
    font-size: larger;

}

.field-type {
    margin-bottom: 5%;
}

.title {
    margin-bottom: 5%;
}

#category {
    height: 20px;
    width: 120px;
    border-radius: 5px;
    border-color: transparent;
    text-align: center;
    background-color: #f3f0ff;
}

.label {
    margin-bottom: 5%;
}

#input-label {
    height: 20px;
    width: 120px;
    border-radius: 5px;
    border-color: transparent;
    text-align: center;
    background-color: #f3f0ff;
    margin-bottom: 5%;
}

.option-div {
    align-items: center;
}

.options {
    height: 20px;
    width: 120px;
    border-radius: 5px;
    border-color: transparent;
    text-align: center;
    background-color: #f3f0ff;
}

.add {
    text-align: center;
}

.add-button {
    margin-top: 10%;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: transparent;
    cursor: pointer;
    background-color: #d0bfff;
    color: white;

}

#input-label::placeholder {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.main-container {
    position: sticky;
    top: 2%;
    left: 2%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: #9775fa;
    height: 100%;
    width: 15%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}


.field-type {
    margin-top: 1%;
}

.field-label {
    margin-top: 1%;
}

.option-div {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.option-div input {
    margin: 1%;
}

.add {
    margin-top: 1%;
}


.sub-container {
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    min-height: 380px;
    min-width: 950px;
    max-height: auto;
    background-color: #d0bfff;
}

.sub-heading {
    margin-top: 2%;
    font-size: xx-large;
    text-align: center;
    color: white;

}

.preview-content {
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    min-height: 250px;
    min-width: 750px;
    max-height: auto;
    background-color: white;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: large;
}

.text_div,
.checkbox_div,
.radio_div {
    margin-bottom: 2%;
}

.text_label {
    margin-bottom: 1%;
}

#text_input {
    height: 20px;
    width: 120px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #f3f0ff;
}

#checkbox_input {
    margin-right: 2%;
}


.radio_div input {
    margin-top: 2%;
    margin-right: 2%;
}

.radio_div input[type="radio"] {
    vertical-align: auto;
}


.footer {
    text-align: center;
    font-size: larger;
    color: rgb(161, 67, 161);
    /* padding: 20px; */
    /* margin-top: 10%; */
    color: #6741d9;
    font-family: "Permanent Marker", cursive;

}

.social-icons a {
    color: #6741d9;
}

.social-icons a:hover {
    color: #3400d1;
}

@media screen and (max-width: 600px) {
    .heading {
        margin: auto;
        margin-top: 1%;
        text-align: center;
        /* margin-left: auto; */
        color: #6741d9;
        font-size: x-large;
        font-family: "Permanent Marker", cursive;
        /* text-align: center; */
    }

    .container {
        margin: auto;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .main-container {
        position: none;
        top: auto;
        left: auto;
        margin: auto;
        margin-bottom: 5%;
        /* position: relative;
        margin: 2% auto; */
        width: 80%;
        height: auto;
        padding: 5%;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

    }

    .sub-container {
        /* position: relative;
        margin: 2% 10%; */
        margin: auto;
        width: 80%;
        height: auto;
        padding: 5%;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        background-color: #d0bfff;
        min-height: 350px;
        min-width: 40%;
        max-height: auto;
    }

    .preview-content {
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 5%;
        min-height: 280px;
        min-width: 30%;
        max-height: auto;
        font-size: small;
    }

    .footer {
        margin-top: 8%;
        text-align: center;
        font-size: large;
        color: rgb(161, 67, 161);
        color: #6741d9;
        font-family: "Permanent Marker", cursive;

    }

    #category {
        height: 30px;
        width: 200px;
    }

    #input-label {
        height: 30px;
        width: 200px;
    }

    .add-button {
        margin-top: 5%;
        height: 40px;
        width: 100px;
        border-radius: 5px;
    }

    .sub-heading {
        margin-top: 1%;
        font-size: x-large;
    }

    .text_div,
    .checkbox_div,
    .radio_div {
        margin-top: 5%;
        margin-left: 5%;
    }

    .dropdown-content {
        min-width: 210px;
        max-height: 250px;
    }
}